In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
car08=pd.read_csv("all_alpha_08.csv")
car18=pd.read_csv("all_alpha_18.csv")

In [3]:
car08.shape

(2404, 18)

In [4]:
car18.shape

(1611, 18)

In [5]:
car08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [6]:
car08.drop(['Underhood ID','Stnd','Sales Area','FE Calc Appr','Unadj Cmb MPG'],
           inplace=True,axis=1)
car08

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,SUV,7,14,20,16,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,SUV,7,13,19,15,3,no
2401,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,SUV,6,14,20,16,4,no
2402,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,SUV,6,14,20,16,4,no
2403,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,SUV,6,13,19,15,3,no

In [7]:
car08.duplicated().sum()

653

In [8]:
car08.dropna(axis=0,inplace=True)
car08.shape

(2205, 13)

In [9]:
car08.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2205 entries, 0 to 2403
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2205 non-null   object
 1   Displ                 2205 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2205 non-null   object
 5   Fuel                  2205 non-null   object
 6   Veh Class             2205 non-null   object
 7   Air Pollution Score   2205 non-null   object
 8   City MPG              2205 non-null   object
 9   Hwy MPG               2205 non-null   object
 10  Cmb MPG               2205 non-null   object
 11  Greenhouse Gas Score  2205 non-null   object
 12  SmartWay              2205 non-null   object
dtypes: float64(1), object(12)
memory usage: 241.2+ KB

In [10]:
car08['Cyl']=pd.to_numeric(car08['Cyl'],errors='ignore')
car08.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2205 entries, 0 to 2403
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2205 non-null   object
 1   Displ                 2205 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2205 non-null   object
 5   Fuel                  2205 non-null   object
 6   Veh Class             2205 non-null   object
 7   Air Pollution Score   2205 non-null   object
 8   City MPG              2205 non-null   object
 9   Hwy MPG               2205 non-null   object
 10  Cmb MPG               2205 non-null   object
 11  Greenhouse Gas Score  2205 non-null   object
 12  SmartWay              2205 non-null   object
dtypes: float64(1), object(12)
memory usage: 241.2+ KB

In [11]:
car08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no

In [12]:
# making the cyl column no the numberical
car08['Cyl']  = car08['Cyl'].str.extract('(\d+)').astype(int)

In [13]:
# replace spaces with underscores and lowercase labels for 2008 dataset
car08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
car08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [14]:
car08.air_pollution_score = car08.air_pollution_score.astype(float)

ValueError: could not convert string to float: '7/7'